html,
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    120deg,
    hsl(240, 100%, 15%),
    hsl(240, 100%, 3%)
  );
  .github-link {
    &:hover {
      --color: hsl(240, 50%, 75%);
    }
    --color: hsl(240, 25%, 50%);
    text-decoration: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 0.5em 1em 0.5em 1em;
    color: var(--color);
    background-color: hsl(240, 50%, 5%);
    border: 1px solid var(--color);
    border-radius: 0.25em;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.ColorWheel {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  animation: spin 24s linear infinite;
}
.Radial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(49% 1%, 50% 0, 51% 1%, 50% 50%);
}
