html,
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    120deg,
    hsl(240, 100%, 15%),
    hsl(240, 100%, 3%)
  );
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.ColorWheel {
  width: 100%;
  height: 100%;
  border-radius: 200px;
  animation: spin 24s linear infinite;
}
.Radial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(49% 1%, 50% 0, 51% 1%, 50% 50%);
}
